$wpPrefix: '.wp-block-neat-';
$blockName: $wpPrefix + 'clip-source';

.block-editor {
    #{$blockName} {
        background: lightpink;
        text-align: center;
    } // $blockName
} // .block-editor