@mixin absolute-full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

$sale-color: #d00;
$warm-gray-light: #dcdbd7;
$warm-gray: #5a5856;

$black: #0a0a0a;
$white: #fefefe;

$gold: #f4c400;
$gold-dark: #aa8901;
$brown: #a47400;

$purple: #53284f;

$burgandy: #800002;;

.wp-block {
    max-width: 85%;
} // .wp-block

// Stop user from editing reusable blocks unless in that area
.block-library-block__reusable-block-container {
    pointer-events: none;
} // .block-library-block__reusable-block-container

//# - Colors
.has-mustard-purple-color { color: $purple !important; } 
.has-mustard-purple-background-color { background-color: $purple; }

.has-mustard-warm-gray-color { color: $warm-gray !important; } 
.has-mustard-warm-gray-background-color { background-color: $warm-gray; }

.has-mustard-warm-gray-light-color { color: $warm-gray-light !important; } 
.has-mustard-warm-gray-light-background-color { background-color: $warm-gray-light; }

.has-mustard-gold-color { color: $gold !important; } 
.has-mustard-gold-background-color { background-color: $gold; }

.has-mustard-gold-dark-color { color: $gold-dark !important; } 
.has-mustard-gold-dark-background-color { background-color: $gold-dark; }

.has-mustard-brow-color { color: $brown !important; } 
.has-mustard-brown-background-color { background-color: $brown; }

.has-black-color { color: $black !important; } 
.has-black-background-color { background-color: $black; }

.has-white-color { color: $white !important; } 
.has-white-background-color { background-color: $white; }

.banner-sidebar.components-panel {
    label {
        font-weight: 700;
    } // label

    .image-upload {
        margin-bottom: 0.5rem;
    } // .image-upload
    
    [class$="-cell"] {
        margin-top: 1.5rem;
        box-shadow: 0px 5px 12px 1px rgba(0,0,0,0.75);
        padding: 0.5rem;
        .controls {
            display: flex;
            .remove {
                border-color: red;
                color: red;
                margin-right: 1rem;
            } // .remove
            .positions {
                div {
                    margin-left: 0.5rem;
                } // div
            } // .positions
        } // [class$="-cell"]

    } // .url-cell
        
} // .banner-sidebar.components-panel 

.components-dropdown-menu__menu{
    .dashicon {
        margin-left: auto;
    } // .dashicon

} 

.components-panel {
    .icons {
        display: flex;
        flex-wrap: wrap;
        & > .icon-cell {
            width: 33%;
            margin-right: 1rem;
            margin-bottom: 1rem;
            border: 1px solid black;
            padding: 0.25rem;
            text-align: center;
        } // & > .icon-cell

    } // .icons

} // .components-panel

.components-panel__body {
    [class$="-icons"] {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .icon-cell {
            width: 45%;
            cursor: pointer;
            padding: 1rem;
        } // .icon-cell

        .cancel {
            border: 2px solid black;
            background: gray;
            display: flex;
            justify-content: center;
            align-self: center;
        } // .cancel

    } // [class$="-icons"]

} // .components-panel__body

.wp-block-group.retailer-grid {
    .wp-block-group__inner-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        & > .wp-block {
            width: 30%;
        } // & > .wp-block

    } // .wp-block-group__inner-container

} // .retailer-grid