$wpPrefix: '.wp-block-neat-';
$blockName: $wpPrefix + 'product-feed';

.block-editor{
    #{$blockName} {
        text-align: center;
        padding: 2rem;
        background: darkgreen;
        color: white;
    }
}
